{% extends 'layout/mainLayout.html.twig' %}

{% block title %}Sign up | {{ parent() }}{% endblock title %}

{% block body %}
	<section class="width_70 column center margin_auto bc_whitesmoke">
		<h1 class="big">Sign up !</h1>
		
		{{ userForm|raw }}
	</section>
{% endblock body %}