{% extends 'layout/mainLayout.html.twig' %}

{% block stylesheets %}
{% endblock stylesheets %}
{% block title %}Welcome on the Styletools ! | {{ parent() }}{% endblock %}

{% block body %}
	<div id="example" class="column bc_whitesmoke">
		<h1 class="medium center">Welcome on the Styletools 1.5 !</h1>

		<ul>
			<h2 class="little">To start a new project :</h2>
			<li>Rename Stytetools' directory by your project's name</li>
			<li>Work on src folder</li>
			<li>Customize your views, configure your routes, write your controllers &hellip;</li>
			<li>It's up to you !</li>
		</ul>
	</div>
{% endblock %}