body {
	display:inline-flex;
	align-items:center;
	font-family:Open Sans, sans-serif;
}

#example {
	width:70%;
	margin:auto;
} 

p {
	font-size:20px;
	text-align:center;
}

.dropdown_menu_left {
	border-top:1px solid #FFFFFF;
}

ul.navbar_gateways li a:hover {
	background-color:#68ACD1;
}

.btn:hover {
	background-color:#68ACD1;
}